
*{
    margin: 0;
    padding: 0;
}
.images img{
    height: 250px;
    width: 550px;

}
.images{
    background-color: rgb(0, 225, 255);
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;

}
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    justify-self: center;
}    
footer article{
    background-color: blue;
    height: 250px;
    width: 250px;
    border-radius: 20px;
}    

main .mainSection {
    background-color: #b2bbc3;
}

main .mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    gap: 20px;
}

main .gridContainer {
    background-color: blue;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
    height: 160px;
}
.gridContainer p {
    padding: 5px;
    background-color: aquamarine;
    margin: 10px;
    border-radius: 20px;
}
main .mainSection .mainContainer_div {
    background-color: blue;
    height: 80px;
    width: 50%;
    padding: 5px;
    border-radius: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    height:60px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;    
    justify-content: center;
    align-items: center;

}
.container span{
    height: 30px;
    width: 120px;
    background-color: rgb(26, 168, 211);
    border-radius: 5px;
    margin: 20px;

}
.imagen{
    padding: 20px;
}
.nav{
    background-color: rgb(155, 152, 152);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.container2{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
 .izq,.center,.der{
     background-color: rgb(245, 174, 43);
     align-items: center;
     justify-content: center;
     height: 25px;
     width: 120px;
     margin: 8px;
     border-radius: 5px;

 }


